name: Main Token-Rotation Workflow
on: workflow_dispatch
env:
  AWS_DEFAULT_REGION: "us-east-1"
  USER_NAME: "at-cli"
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
jobs:
  checkout-code:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
  check-token-count:
    runs-on: ubuntu-24.04
    needs: checkout-code
    steps:
      - name: Check Token Count
        run: |
          key_count=$(aws iam list-access-keys --user-name "${{ env.USER_NAME }}" \
          --query 'length(AccessKeyMetadata[])' --output text)
          if [[ "$key_count" == "2" ]]; then
            echo "Error: Two active access keys found for application. Maximum of one active key is allowed. Please execute invalidate-secret-workflow to delete older key." >&2
            exit 1
          fi
  execute-update-secret-workflow:
    needs: check-token-count
    uses: ./.github/workflows/create-token-workflow.yaml
    secrets: inherit
    with:
      VAULT_CLUSTER_URL: http://18.188.101.12:8200/
      USER_NAME: "at-cli"
  execute-invalidate-secret-workflow:
    needs: execute-update-secret-workflow
    uses: ./.github/workflows/invalidate-token-workflow.yaml
    secrets: inherit
    with:
      USER_NAME: "at-cli"
    permissions:
      issues: write
